@import '../../../assets';

.box {
	&_wrap {
		width: 130px;
		height: 100%;

		margin-right: 20px;

		position: relative;
	}

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba($primary, 0.5);
	border: 1px solid transparent;
	border-radius: 4px;

	cursor: pointer;
	transition: border .2s;

	&__tip {
		display: none;

		position: absolute;
		top: calc(100% + 10px);
		left: 0;

		width: 200%;
		padding: 10px;

		background-color: rgba($lighter, 0.5);
		border-radius: 4px;
	}
	&_wrap:hover &__tip {
		display: block;
	}

	&:hover {
		border-color: rgba($accent, .4);
	}

	&_dragged {
		@extend .box;
		opacity: 0.5;
	}
}
