@import '../../../assets';

.box {
	width: 130px;
	height: 100%;

	margin-right: 20px;

	background-color: rgba($primary, 0.5);
	border: 1px solid transparent;
	border-radius: 4px;

	position: relative;

	cursor: pointer;
	transition: border .2s;

	&:hover {
		border-color: rgba($accent, .4);
	}
}
